*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.4vw;
	font-family: sans-serif;
	scroll-behavior: smooth;
}
button{
	cursor: pointer;
}
nav li{
	cursor: pointer;
	border-bottom: 0.15vw solid transparent;
}
nav li:hover{
	border-bottom: 0.15vw solid black;
}
header{
	display: flex;
	padding: 2vw 4vw;
	justify-content: space-between;
	background: #98c6fa;
}
.logo{
	width: 10vw;
}
.navegacion{
	width: 60%;
}
.botones{
	display: flex;
	justify-content: flex-end;
	gap: 4vw;
}
.botones button{
	padding: 0.4vw 1vw;
	border-radius: 0.6vw;
	border: 0.2vw solid black;
	box-shadow: 0.2vw 0.2vw 0 black;
}
.blanco{
	background: white;
}
.blanco:hover{
	background: lightgray;
}
.verde{
	background: #47ebb9;
}
.verde:hover{
	background: #14b887;
}
.carrito{
	border-bottom: 0.2vw solid transparent;
}
.carrito:hover{
	border-bottom: 0.2vw solid black;
}
nav ul{
	margin: 2vw 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	color: black;
}
.landing{
	display: flex;
	padding: 1vw 4vw 4vw;
	background: #98c6fa;
}
.landing div{
	width: 50%;
}
h1{
	font-size: 4.2vw;
	margin: 1vw;
}
h2{
	font-size: 1.8vw;
}
.landing div button{
	display: block;
	padding: 1.6vw 3vw;
	font-size: 2vw;
	border-radius: 2.6vw;
	border: 0.2vw solid black;
	margin: 4vw auto;
}
.imagenes{
	display: flex;
	justify-content: center;
}
.imagenes img{
	display: block;
	height: 38vw;
	width: 10vw;
	object-fit: cover;
	margin: 0 -1vw;
	transition: 300ms ease-in-out;
}
.imagenes .ancho{
	width: auto;
	z-index: 10;
}
.imagenes img:hover{
	transform: scale(1.1);
	z-index: 20;
}
.destacados{
	padding: 0;
	margin: 0;
}
.destacados h2, .calendario h2{
	font-size: 4vw;
	margin: 4vw auto 1vw;
	text-align: center;
	width: 50vw;
	font-weight: bolder;
	background: white;
}
.destacados div{
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 0;
}
.destacados div img{
	width: 32.99vw;
}
.fucsia{
	display: block;
	margin: auto;
	padding: 2vw 4vw;
	border-radius: 1vw;
	background: #f63def;
	border: 0.2vw solid black;
	transform: translateY(-2vw);
	font-size: 1.6vw;
}
.fucsia:hover{
	background: #c309bd;
}
.calendar{
	background: #d7e9ff;
	display: flex;
	justify-content: center;
	padding: 4vw;
}
.catalogo header{
	background: white;
}
.catalogo header img{
	width: 5vw;
}
.catalogo header button{
	border-radius: 50%;
	aspect-ratio: 1/1;
	background: black;
	box-shadow: none;
	width: 4vw;
	height: 4vw;
	transform: translate(-3.2vw, 0.2vw);
}
.catalogo header input{
	border: 0.2vw solid black;
	height: 4vw;
	padding: 1vw;
	border-radius: 2vw;
	border-right: none;
}
.catalogo header .logo{
	width: 10vw;
}
.primero{
	background-image: url(../img/fondo.jpg);
	height: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.primero h1{
	font-size: 5vw;
	color: white;
}
.productos .grilla{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.productos h2{
	margin: 6vw 6vw 0;
	font-size: 4vw;
}
.grilla{
	padding: 4vw;
	gap: 8vw;
}
.productos .info{
	height: 50vw;
	padding: 2vw;
	position: relative;
}
.productos .info .foto{
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 4vw;
	background: #a0c0a9;
	border-radius: 4vw;
}
.productos .info img{
	margin: 0;
	padding: 0;
	height: 30vw;
}
.productos .info .delgado{
	width: 8vw;
	object-fit: cover;
}
.productos .info h3, .productos .info p i{
	display: block;
	font-size: 3vw;
	font-weight: bold;
	padding: 0 2vw;
}
.productos .info h3{
	padding: 2vw 2vw 0;
}
.info .foto .mas{
	position: absolute;
	top: 2vw;
	right: 2vw;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	border: 0.4vw solid #10af3d;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}
.info .foto .agregar{
	display: none;
	position: absolute;
	right: 2vw;
	top: 8vw;
	font-size: 3vw;
	padding: 1vw 3vw;
	border-radius: 4vw;
	border: 0.3vw solid black;
	background: #10b03d;
}
.info .foto .mas:hover + .agregar, .info .foto .agregar:hover{
	display: block;
}
.productos .azul .foto{
	background: #99c6fa;
}
.azul .foto .mas{
	border: 0.4vw solid #944bf1;
}
.azul .foto .agregar{
	background: #944bf1;
}
.productos .amarillo .foto{
	background: #fff766;
}
.amarillo .foto .mas{
	border: 0.4vw solid #f1ea39;
}
.amarillo .foto .agregar{
	background: #f1ea39;
}
.productos .cafe .foto{
	background: #734848;
}
.cafe .foto .mas{
	border: 0.4vw solid #f9bd47;
}
.cafe .foto .agregar{
	background: #f9bd47;
}
footer{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-bottom: 2vw;
	margin-top: 2vw;
}
footer h3{
	margin: 1vw 0;
}
footer h3 i{
	font-size: 2.4vw;
}
.iconos{
	display: flex;
	justify-content: center;
	gap: 1.4vw;
	background: white;
	padding: 1vw;
	transform: translateY(3vw);
	margin-top: -3vw;
}
.iconos img{
	width: 4vw;
	transition: 200ms ease-in-out;
}
.iconos img:hover{
	transform: scale(1.2);
}
.raya{
	width: 100%;
	background: black;
	height: 0.2vw;
	margin-bottom: 3vw;
}
footer p{
	text-align: center;
	font-weight: bold;
}
.girardot{
	width: 8vw;
	position: absolute;
	bottom: 1vw;
	right: 1vw;
}
.espacio_blanco{
	height: 100vw;
}
.contacto header{
	background: #d9d9d9;
	align-items: center;
}
.contacto .info{
	font-weight: bold;
	margin: 2vw 0.4vw;
}